/İlk Proje/nbproject/private/
/İlk Proje/build/
/Degiskenler/nbproject/private/
/Degiskenler/build/
/Degiskenler/dist/
/BedenKitleIndeksi/nbproject/private/
/BedenKitleIndeksi/build/
/YakıtTutarı/nbproject/private/
/YakıtTutarı/build/
/DeğişkenDeğerleriniDeğiştirme/nbproject/private/
/DeğişkenDeğerleriniDeğiştirme/build/
/EnBüyükSayiyiBulma/nbproject/private/
/EnBüyükSayiyiBulma/build/
/BedenKitleIndexsiKoşulluDurumlar/nbproject/private/
/BedenKitleIndexsiKoşulluDurumlar/build/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/GelişmişNotHesaplama/nbproject/private/
/GelişmişNotHesaplama/build/
/WhileAtmProgramı/nbproject/private/
/WhileAtmProgramı/build/
/ArmstrongSayısıBulma/nbproject/private/
/ArmstrongSayısıBulma/build/
/ÇarpımTablosuOluşturma/nbproject/private/
/ÇarpımTablosuOluşturma/build/
/WhileileKullanıcıGirişKontrolü/nbproject/private/
/WhileileKullanıcıGirişKontrolü/build/