/İlk Proje/nbproject/private/
/İlk Proje/build/
/Degiskenler/nbproject/private/
/Degiskenler/build/
/Degiskenler/dist/
/BedenKitleIndeksi/nbproject/private/
/BedenKitleIndeksi/build/
/YakıtTutarı/nbproject/private/
/YakıtTutarı/build/
/DeğişkenDeğerleriniDeğiştirme/nbproject/private/
/DeğişkenDeğerleriniDeğiştirme/build/
/EnBüyükSayiyiBulma/nbproject/private/
/EnBüyükSayiyiBulma/build/